.row#header
    .col-md-2
        img(src='/img/main.png')
    .col-md-10
        ul.nav.nav-pills
            li(role='presentation' class='active')
                a(href='#') Home
            li(role='presentation')
                a(href='#') Chat
            li(role='presentation')
                a(href='#') About Us
