doctype
html
    head
        block title
            title Node JS chat
        include ./includes/scripts.jade
        block scripts
    body
        .container-fluid
            block content





